@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	overflow-x: hidden;
}

/* ---- Header ---- */

.header {
	width: 100%;
	height: 72px;
	background: #ffbb00;
	font-family: Chaparral Pro;
	box-shadow: 0 0 5px #000;
	position: relative;
	z-index: 1;
}

.header .logo {
	color: #333;
	text-decoration: none;
	font-size: 42px;
	position: relative;
	top: 10px;
	margin-left: 20px;
}

.nav {
	list-style: none;
	position: absolute;
	bottom: 0;
	right: 50px;
	text-align: center;
}

.nav > li {
	width: 160px;
	display: inline-block;
	margin-right: 50px;
	font-size: 32px;
	cursor: pointer;
}

.nav li:hover ul {
	left: 0;
	opacity: 1;
}

.nav li ul {
	position: absolute;
	left: -9999px;
	opacity: 0.2;
	transition: opacity 0.2s;
	box-shadow: 1px 1px 1px #333;
}

.nav li ul li {
	display: block;
	width: 160px;
	height: 42px;
	background: #ffbb00;
	position: relative;
	z-index: 0;
}

.nav li ul li:hover {
	background: #efa600;
}

/* ---- Homepage ---- */

.slideshow {
	width: 100%;
	height: 420px;
	background: #efefef;
	box-shadow: 0 0 3px #333;
	position: relative;
	margin-bottom: 20px;
}

.slideshow .arrow {
	position: absolute;
	top: 50%;
	right: -10px;
	margin-top: -40px;
	cursor: pointer;
	transition: 0.2s;
}

.slideshow .arrow:hover {
	right: 0;
}

.slideshow .arrow:first-of-type {
	left: -10px;
}

.slideshow .arrow:first-of-type:hover {
	left: 0;
}

.well {
	background: #efefef;
	border-radius: 10px;
	box-shadow: 0 0 5px #888 inset;
	overflow: hidden;
}

.well-header {
	width: 100%;
	height: 50px;
	background: #ffbb00;
	box-shadow: 0 0 5px #000;
}

.well h2 {
	color: #333;
	margin-left: 20px;
	line-height: 50px;
}

.featured-lesson {
	width: 45%;
	min-height: 420px;
	margin-left: 3%;
	margin-bottom: 20px;
	float: left;
}

.featured-author {
	width: 45%;
	min-height: 420px;
	margin-right: 3%;
	margin-bottom: 20px;
	float: right;
}

.featured-image {
	width: 100%;
	height: 260px;
	position: relative;
}

.featured-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	cursor: pointer;
}

.featured-lesson p, .featured-author p {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
}

.featured-button {
	cursor: pointer;
	width: 160px;
	height: 42px;
	margin: 10px 0;
	position: relative;
	left: 50%;
	margin-left: -80px;
}