
<div class="full-size well">
	<h2>Framework Documentation</h2>
	<div class="quarter-grid-container">
		<div class="doc-box inner-well">
			<a target="_blank" href="http://mootools.net/docs/core"><div class="selection-disc mootools framework-disc">
				<img src="images/framework-icons/mootools.png" alt="MooTools" class="framework-icon" />
			</div></a>
			<h2><a target="_blank" href="http://mootools.net/docs/core">MooTools</a></h2>
		</div>
	</div>
	<div class="quarter-grid-container">
		<div class="doc-box inner-well">
			<a target="_blank" href="http://api.jquery.com/"><div class="selection-disc jquery framework-disc">
				<img src="images/framework-icons/jquery.png" alt="jQuery" class="framework-icon" />
			</div></a>
			<h2><a target="_blank" href="http://api.jquery.com/">jQuery</a></h2>
		</div>
	</div>
	<div class="quarter-grid-container">
		<div class="doc-box inner-well">
			<a target="_blank" href="http://docs.angularjs.org/api/"><div class="selection-disc angular framework-disc">
				<img src="images/framework-icons/angular.png" alt="AngularJS" class="framework-icon" />
			</div></a>
			<h2><a target="_blank" href="http://docs.angularjs.org/api/">AngularJS</a></h2>
		</div>
	</div>
	<div class="quarter-grid-container">
		<div class="doc-box inner-well">
			<a target="_blank" href="http://git-scm.com/doc"><div class="selection-disc git framework-disc">
				<img src="images/framework-icons/git.png" alt="Git" class="framework-icon" />
			</div></a>
			<h2><a target="_blank" href="http://git-scm.com/doc">Git</a></h2>
		</div>
	</div>
</div>
