
<div class="slideshow" slideshow>
	<img src="images/arrow-left.png" alt="" class="arrow" ng-click="previous()" />
	<img src="images/arrow-right.png" alt="" class="arrow" ng-click="next()" />
	<div class="slide-rack" style="width: {{ rackWidth() + 100 }}px; margin-left: {{ slideMargin() }}px;">
		<div class="slide ng-cloak" ng-repeat="slide in slides" style="width: {{ browserWidth() }}px; background: url('{{ slide.url }}'); background-position: center center; display: {{ getSlideDisplay() }};"></div>
	</div>
</div>

<div class="featured-lesson well">
	<div class="well-header"><h2>Featured Lesson</h2></div>
	<a href="#/lessons/javascript/Making%20a%20Slideshow"><div class="featured-image" style="background: url('images/featured-lesson.jpg') center center no-repeat; background-size: cover;"><img src="images/play-icon.png" alt="Watch this video" class="featured-icon" /></div></a>
	<p><strong>Making a Slideshow</strong><br />In this lesson, you will learn how to make a slideshow using the JavaScript framework, MooTools. This lesson teaches you the basics of handling DOM manipulation in the form of element property changes and animations.</p>
	<a href="#/lessons/javascript/Making%20a%20Slideshow"><button class="featured-button">Watch this video</button></a>
</div>

<div class="featured-author well">
	<div class="well-header"><h2>Featured Author</h2></div>
	<a href="#/authors/stevie-mccomb"><div class="featured-image" style="background: url('images/featured-author.jpg') center center no-repeat; background-size: cover;"><img src="images/paper-icon.png" alt="Watch this video" class="featured-icon" /></div></a>
	<p><strong>Stevie McComb</strong><br />After studying music and philosophy in the Bahamas, self-taught web designer and programmer Stevie McComb started his own web design company in 2006, based in Park City, Utah.</p>
	<a href="#/authors/stevie-mccomb"><button class="featured-button">Meet this author</button></a>
</div>
